<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>

<body>
    <h2>HELLO THERE!</h2>
    <div>
        <br>
        <li>Math?
            <ul>
                <form action="{{ url_for('cosine') }}" method="post" name="cos">
                    <b>Cos</b>
                    <input type="number" name="cosval" style="width: 30px;">
                    <input type="submit" value="calculate">
                </form>
            </ul>
            <ul>
                <form action="{{ url_for('sine') }}" method="post" name="sin">
                    <b>Sin</b>
                    <input type="number" name="sinval" style="width: 30px;">
                    <input type="submit" value="calculate">
                </form>
            </ul>
            <ul>
                <form action="{{ url_for('tangent') }}" method="post" name="tan">
                    <b>Tan</b>
                    <input type="number" name="tanval" style="width: 30px;">
                    <input type="submit" value="calculate">
                </form>
            </ul>
        </li>
        <br>
        <li>Dinner Menu?
            <ul><a href="{{ url_for('dinner', ran=1) }}">Random</a></ul>
            <ul><a href="{{ url_for('show') }}">Random Picture</a></ul>
        </li>
        <br>
        <li>TBD
            <ul></ul>
        </li>
    </div>
</body>

</html>